html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 22px;
  background-color: #202330;
  font-family: 'Montserrat', sans-serif;

}

* {
  box-sizing: border-box;
}

p{
  color: #ffffff;
}

a {
  color: #e6feff;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

h3{
  padding-bottom: 1rem;
}