.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 700;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: -0.4rem;
}

.borderCircle {
  border-radius: 9999px;
  border: 6px solid white;

}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}


.textStatusComplete{
  color: rgb(160, 253, 160);
}

.textStatusProgress{
  color: rgb(253, 222, 160);
}

.projectCard {
  background-color: #15161b;
  color: #e6feff;
  padding: 25px;
  margin-bottom: 20px;        
  border-radius: 30px;        
}

.stillInDevelopment{
  color: #797da8;
  margin-top: 0.2rem;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  margin: 0 auto;
}